<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<link rel='stylesheet' href='/css/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
</head>
<body>
	<div th:replace="admin/fragments/header :: header"></div>
	<div class="content">
		<h4>Data</h4>
		<a href="/">
			<div class="homebutton">
				<div class="icon"><i class="fas fa-list-alt"></i></div>
				<div class="name">Catalog</div>
			</div>
		</a>
		</br>
	</div>
	<div class="content">
	    <h4>Admin actions</h4>
		<a href="/admin/photographer/new">
			<div class="homebutton">
				<div class="icon"><i class="fas fa-camera"></i></div>
				<div class="name">New Photographer</div>
			</div>
		</a>
		<a href="/admin/photo/new">
			<div class="homebutton">
				<div class="icon"><i class="fas fa-file-image"></i></div>
				<div class="name">Upload Photo</div>
			</div>
		</a>
		<a href="/admin/album/new">
			<div class="homebutton">
				<div class="icon"><i class="fas fa-images"></i></div>
				<div class="name">Create Album</div>
			</div>
		</a>
		<a href="/admin/requests">
			<div class="homebutton">
				<div class="icon"><i class="fas fa-address-card"></i></div>
				<div class="name">See Requests</div>
			</div>
		</a>
	</div>
</body>
</html>