<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="admin/fragments/header :: header"></div>
    <div class='content'>
        <h4>Admin > Upload a photo</h4>
        <form method="post" th:action="@{/admin/photo/new}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Image: </td>
                    <td><input type="file" name="image"></td>
                </tr>
                <tr>
                    <td>Photographer: </td>
                    <td>
                    	<select name="photographer">
                    		<th:block th:each="photographer : ${photographers}">
 								<option th:value="${photographer.id}" th:text="${photographer.name}+ ' ' + ${photographer.surname}"></option>
                    		</th:block>
                    	</select>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Upload</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>