<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel='stylesheet' href='/css/style.css' />
		<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
		integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
			<div class='content'>
        	<h4>Search in our catalog:</h4>
				<a href="/catalog/photos">
					<div class="homebutton">
						<div class="icon"><i class="fas fa-file-image"></i></div>
						<div class="name">Photos</div>
					</div>
				</a>
				<a href="/catalog/albums">
					<div class="homebutton">
						<div class="icon"><i class="fas fa-images"></i></div>
						<div class="name">Albums</div>
					</div>
				</a>
				<a href="/catalog/photographers">
					<div class="homebutton">
						<div class="icon"><i class="fas fa-camera"></i></div>
						<div class="name">Photographers</div>
					</div>
				</a>
			</div>
		<div th:replace="fragments/cartclosed :: cart"></div>
	</body>
</html>
