<html>
	<head>
		<link rel='stylesheet' href='/css/style.css' />
		<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
		integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	</head>
	<body>
		<th:block th:fragment="photolist">
			<div class='images'>
				<th:block th:each="photo : ${catalog}">
					<div class='img-box' th:style="'background:url(' + ${photo.image} + ');background-size: contain;background-position: center;background-repeat: no-repeat;'" th:onclick="'cartAdd(\'' + ${photo.id} + '\');'"></div>
				</th:block>
			</div>
		</th:block>
	</body>
</html>
