<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
<th:block th:fragment="header">
    <div class='header'>
        <div class='content' style="border-bottom: solid 4px #000;">
            <a href="/admin"><div class='title'>Silph</div></a>
            <div class='top-menu'>
                <div class='menu'>
                    <ul>
                        <li class='standard' id='nav-new-image'>
                            <a href='/admin/photo/new'>
                                <i class="fas fa-file-image"></i> NEW IMAGE
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='h100px'></div>
</th:block>
</body>